/*-- Barclays custom --*/

@import url("fonts-min.css");
@import url("barclays-min.css");
@import url("barclays-tablet.css");
/*@import url("bootstrap.min.css");*/

/* clear */

.clear {
    clear: both;
}
figure, section{
	margin: 0!important;
	padding: 0!important;
}
#meta{
	display: none;
}
.fb_iframe_widget_lift{
	z-index: 2000!important;
}
/*HOME HEADER */
.inner{
	min-width: 960px!important;
}
.inner .inner {
    min-width: 100% !important;
}
#content{
	padding-top: 50px;
}
body #secondaryNavigation.empty {
    background: url("../img/header_shadow.png") no-repeat scroll center top transparent;
}

body #primaryNavigation {
    right: -10px;
}

body #topNavigation {
    background: url("../img/top-navigation-repeater.gif") repeat-y scroll right top transparent;
}

/* topNavigation */

#topNavigation li.e-mail, #topNavigation li.facebook, #topNavigation li.twitter {
    margin-left: 20px;
}

#topNavigation li.official-site {
    margin-right: 35px;
}

#topNavigation li.facebook a {
    background-image: url("../img/social-sprite.png");
    background-repeat: no-repeat;
    height: 15px;
    margin-top: 3px;
    padding: 0;
    text-indent: -999999px;
    width: 15px;
}

#topNavigation li.twitter a {
    background-image: url("../img/social-sprite.png");
    background-repeat: no-repeat;
    height: 15px;
    margin-top: 3px;
    padding: 0;
    text-indent: -999999px;
    width: 15px;
    background-position: top center;
}

#topNavigation li.e-mail a {
    background-image: url("../img/social-sprite.png");
    background-repeat: no-repeat;
    height: 15px;
    margin-top: 3px;
    padding: 0;
    text-indent: -999999px;
    width: 15px;
    background-position: top right;
}


/* Stile Img */

body .aperture .curtain {
    background: url("../img/curtain-edge.png") no-repeat scroll right top #FFFFFF;
}

/* listlink */

.listLinks a {
    background: url("../img/link-list-arrow.gif") no-repeat scroll left 4px transparent;
}

ul.listLinks li {
    padding-bottom: 15px;
}
#lensNavigator{
	z-index: 100!important;
	bottom:15px
}
#lensNavigator a {
    background-image: url("../img/lens-navigator-arrows.gif");
}
#footer{
	margin-top: 30px;	
}
.wrapper .footer ul#footerLinks {
    text-align: center !important;
}

body section.lens {
    padding-bottom: 20px;
    height: 460px !important;
}
body #artprize-preview, body #home-cycle{
    height:500px!important;
}

/* List item */

body .listNewsItems {
    height: 390px !important;
    overflow-y: inherit !important;
    border-bottom: none!important;
}
body .inner .listNewsItems ul{
    width:100%!important;
}
.listNewsItems a {
color: #007EB6 !important;
}

body .listNewsItems li {
    padding: 0 2% 0 0 !important;
    width: 98%;
}

.listNewsItems li p {
    padding-left: 190px !important;
    padding-top: 15px;
}
.listNewsItems li p small{
	font-size: 12px;
}
body .imageWithCaption p {
    background: url("../img/white-80-percent.png") repeat scroll left top transparent;
}
.imageWithCaption strong {
    color: #00AEEF;
    font-size: 18px;
    font-weight: normal;
}
body .pageLens h1 {
    display: block;
    font-size: 3.2em;
}

/*body .imageWithCaption {
    overflow: hidden;
}*/

.widthSix ul li {
    list-style: none !important;
    padding-left: 0px !important;
    background-image: none !important;
}

/* content */
.social-links {
    border-top: 1px solid #EDEDED;
    padding-top: 15px;
 }
 .social-links > li {
     float: left;
     width: 25%;
 }
 .social-links .pluginSkinLight form{
 	display: none!important;
 }
 
 #opere .social-links > li {
 float: left;
 width: 30%!important;
 text-align: left;
 }
 #opere button, #opere .btn {
	display: block;
	float: left;
	text-align: center;
	max-width: 31%!important;
	margin: 0 5px;
 }
 #opere section.lens{
 	top: 50px!important;
 }

/* Section Form Vota */
#vota-artprize label {
    color: #017EB4;
    float: left;
    font-size: 12px;
    margin: 0 0 10px;
    width: 50%;
    min-height:65px;
}
label label.error, label.error {
    color: #D5630A !important;
    float: none !important;
    font-size: 10px !important;
    line-height: 5px}

#vota-artprize input, #vota-artprize textarea, #vota-artprize select {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.05) inset;
    margin-top: 10px;
    max-width: 100% !important;
    padding: 5px;
    width: 90%;
}
#vota-artprize input.btn-cyan75 {
    max-width: 30% !important;}
textarea {
    color: #777777;
    font-family: verdana;
    font-size: 10px;
    height: 100px;
    max-height: 100px;
}

input[type="checkbox"] {
    width: 8% !important;
}

input[type="radio"] {
    display: inline !important;
    width: 6% !important;
}

#vota-artprize span {
    line-height: 36px !important;
    padding-left: 2px;
    color: #007EB6;
    margin-left: 20px;
}
#vota-artprize iframe input[type=submit]{
	display: none!important;
}
.ui-datepicker {
    background: none repeat scroll 0 0 #E5F7FD;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.05) inset;
    padding: 10px;
}
.ui-datepicker th {
    background: none repeat scroll 0 0 #017EB4;
}
.ui-datepicker td {
    border-color: #FFFFFF;
}
.disclaimer{
	border: solid #DBDBDB;
	border-width: 1px 0;
	padding: 15px 0;
}

.dialogButtons {
    border-top: 1px solid #CCCCCC;
    clear: both;
    margin-top: 20px;
    padding: 15px 0;
    text-align: right;
}
.ui-widget-overlay	
{
    background: transparent url('../img/white-80-percent.png') repeat left top;
    top:120px;
    }
.ui-dialog{
	text-align: center;
	top: 120px !important;
	width: 100% !important;
    background: transparent url('../img/white-80-percent.png') repeat left top;
	margin: 0 auto!important;
}
.dialog-wrap{
	text-align: center;
    width: 100%;
	position: relative;
	margin: 0 auto!important;
	max-width:980px;
}
.dialog-wrap .close{
    display: block;
    text-align: right;
}
.ui-button, .ui-dialog-titlebar{
	display: none!important;
}
.modal img {
	max-width: 800px;
	height: auto;
}
/* color btn */
.btn-cyan75, body .btn-cyan75{
	background-color: #40c2f3!important;
	color: #fff!important;
}
.btn-grey75, body .btn-grey75{
	background-color: #d9d9d9!important;
}

/* Cycle */
.cycle-pager{
	text-align: center;
	margin-top: 10px;
}
.cycle-pager span{
	font-size: 3em;
	cursor: pointer;
}
.cycle-pager span.cycle-pager-active{
	color: #3E668A!important;
}
section.opera, body .opera{
    min-height:500px!important;
}